<table>
    <tr>
        <td><a href="editeurs">&Eacute;diteurs</a></td>
        <td><a href="jeux">Jeux</a></td>
        <td><a href="classifications">Classifications</a></td>
        <td><a href="plateformes">Plateformes</a></td>
        <td><a href="statistiques" target="statistiques">Statistiques</a></td>
        <td><a href="configuration">Configuration</a></td>
        <td><a href="/h2-console" target="h2_console">Console H2</a></td>
        <td><a href="/beans" target="beans">Beans</a></td>
        <td><a href="/swagger-ui/index.html" target="swagger">Swagger</a></td>
    </tr>
</table>